# Ignore node_modules (they will be installed inside the container)
node_modules

# Ignore local development files
.next
.husky
.vscode
.DS_Store

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore configuration files not needed in production
*.env.local
*.env.development
*.env.test

# Ignore Git files
.git
.gitignore

# Ignore Docker files if not needed
docker-compose*
